<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuzebiao.cms.dao.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuzebiao.cms.domain.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="summary" property="summary" />
        <result column="content" property="content" />
        <result column="picture" property="picture" />
        <result column="channel_id" property="channelId" />
        <result column="category_id" property="categoryId" />
        <result column="user_id" property="userId" />
        <result column="hits" property="hits" />
        <result column="hot" property="hot" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, summary, content, picture, channel_id, category_id, user_id, hits, hot, status, deleted, created, updated
    </sql>

</mapper>
