<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuzebiao.cms.dao.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuzebiao.cms.domain.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="summary" property="summary" />
        <result column="content" property="content" />
        <result column="picture" property="picture" />
        <result column="channel_id" property="channelId" />
        <result column="category_id" property="categoryId" />
        <result column="user_id" property="userId" />
        <result column="hits" property="hits" />
        <result column="hot" property="hot" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, summary, content, picture, channel_id, category_id, user_id, hits, hot, status, deleted, created, updated
    </sql>

	<select id="listArticlesByUserId" parameterType="Integer" resultMap="ArticleVoResultMap">
    	SELECT 
    		cms_article.id as id,
    		cms_article.title as title,
    		cms_article.summary as summary,
    		cms_article.content as content,
    		cms_article.category_id as category_id,
    		cms_article.picture as picture,
    		cms_article.status as status,
    		cms_article.hits as hits,
    		cms_article.hot as hot,
    		cms_article.created as created,
    		cms_article.updated as updated,
    		cms_category.id as cateid,
    		cms_category.name as cat_name
    	FROM cms_article
    	JOIN cms_category ON cms_article.category_id=cms_category.id
    	WHERE cms_article.user_id=#{userId} AND cms_article.deleted=1
    </select>
    
    
    <resultMap type="com.xuzebiao.cms.vo.ArticleVo" id="ArticleVoResultMap">
    	<id column="id" property="id" />
        <result column="title" property="title" />
        <result column="summary" property="summary" />
        <result column="content" property="content" />
        <result column="category_id" property="categoryId"/>
        <result column="picture" property="picture" />
        <result column="hits" property="hits" />
        <result column="hot" property="hot" />
        <result column="status" property="status" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
        <association property="category">
        	<id column="cateid" property="id"/>
        	<result column="cat_name" property="name"/>
        </association>
    </resultMap>
    <select id="listArticlesByCateId" resultMap = "ArticleVoUserResultMap">
    	SELECT 
    		cms_article.id as id,
    		cms_article.title as title,
    		cms_article.summary as summary,
    		cms_article.content as content,
    		cms_article.picture as picture,
    		cms_article.status as status,
    		cms_article.hits as hits,
    		cms_article.hot as hot,
    		cms_article.created as created,
    		cms_article.updated as updated,
    		cms_user.id as userid,
    		cms_user.username as username
    	FROM cms_article
    	JOIN cms_user ON cms_article.user_id=cms_user.id
    	WHERE cms_article.category_id=#{categoryId}
    </select>
    <resultMap type="com.xuzebiao.cms.vo.ArticleVo" id="ArticleVoUserResultMap">
    	<id column="id" property="id" />
        <result column="title" property="title" />
        <result column="summary" property="summary" />
        <result column="content" property="content" />
        <result column="category_id" property="categoryId"/>
        <result column="picture" property="picture" />
        <result column="hits" property="hits" />
        <result column="hot" property="hot" />
        <result column="status" property="status" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
        <association property="author">
        	<id column="userid" property="id"/>
        	<result column="username" property="username"/>
        	<result column="nickname" property="nickname"/>
        </association>
    </resultMap>
    
    <select id="findArticleAuthorById"  resultMap = "ArticleVoUserResultMap">
   	 SELECT 
    		cms_article.id as id,
    		cms_article.title as title,
    		cms_article.summary as summary,
    		cms_article.content as content,
    		cms_article.picture as picture,
    		cms_article.status as status,
    		cms_article.hits as hits,
    		cms_article.hot as hot,
    		cms_article.created as created,
    		cms_article.updated as updated,
    		cms_user.id as userid,
    		cms_user.username as username,
    		cms_user.nickname as nickname
    	FROM cms_article
    	JOIN cms_user ON cms_article.user_id=cms_user.id
    	WHERE cms_article.id=#{articleId}
    </select>
</mapper>
