<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuzebiao.cms.dao.CommentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuzebiao.cms.domain.Comments">
        <id column="id" property="id" />
        <result column="articleid" property="articleid" />
        <result column="userid" property="userid" />
        <result column="content" property="content" />
        <result column="created" property="created" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, articleid, userid, content, created
    </sql>

</mapper>
